.App {
  height: 100vh;
  display: grid;
  place-items: center;
}

.grid{
  aspect-ratio: 1/1;
  background: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:    repeat(3, 1fr);
  gap: 5px;
  height: 60vh;
}
.grid.X .cell, .grid.O .cell{
  pointer-events: none;
}

.cell{
  background-color: white;
  border: 0;
  font-size: 30px;
  pointer-events: none;
  user-select: none;
  position: relative;
}

.cell.X::before{
  background: red;
  content:'';
  position: absolute;
  inset: 5px;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.cell.O::before{
  content: '';
  background: white;
  border: 20px solid mediumblue;
  border-radius: 50%;
  display: flex;
  position: absolute;
  inset: 5px;
}

.cell.null{
  cursor: pointer;
  pointer-events: all;
}

.reset{
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
}