.App {
  height: 100vh;
  display: grid;
  place-items: center;
}

.grid{
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:    repeat(3, 1fr);
  height: 60vh;
}
.grid.X .cell, .grid.O .cell{
  pointer-events: none;
}

.cell{
  font-size: 30px;
  pointer-events: none;
  user-select: none;
}
.cell:empty{
  cursor: pointer;
  pointer-events: all;
}

.reset{
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
}